<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>24Room</title>
    </head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <body onload="getSession()">
        <h1>24Room</h1>
        <h2>Welcome to 24Room</h2>
        <input type="text" id="username" name="username" placeholder="Username"/><br><br>
        <input type="password" id="passwd" name="passwd" placeholder="Password"/><br><br>
        <button onclick="logIn()">Sign In</button>
        <button onclick="deleteSession()">Delete Session</button><br><br>
        <button onclick="window.location.href = 'http://localhost:3000/signup'">Sign Up</button><br><br>
    </body>
</html>
<script>
    function deleteSession(){
        axios.delete("http://localhost:3000/api/session");
    }
    function logIn(){
        const username = document.getElementById("username").value;
        const passwd = document.getElementById("passwd").value;
        axios.post("http://localhost:3000/api/login", {username: username, password: passwd}).then(function (response) {
            window.location.href = "http://localhost:3000/rooms";
        });
    };
    function getSession(){
        axios.get("http://localhost:3000/api/session").then(function (response) {
            if(Object.keys(response.data).length !== 1){
                console.log(Object.keys(response.data).length);
                window.location.href = "http://localhost:3000/rooms";
            }
        });
    }
</script>