<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>24Room</title>
    </head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <body onload="onLoad()">
        <h1 class="title">Join Conversation</h1>
        <h2></h2>
        <input type="text" id="messages" placeholder="Messages"/>
        <button onclick="sendMessages()">SEND</button>
        <ul id="feed"></ul>
    </body>
</html>
<script>
    const socket = io("http://localhost:3000");
    const user = {
        username: null
    };

    socket.on('userConnected', payload => addWelcomeMessage(payload, false));
    socket.on('sendMessage', payload => addMessage(payload));

    async function getSessionUsername(){
        const session = await axios.get("http://localhost:3000/api/session");
        return session.data.username;
    }

    async function getSessionUserId(){
        const session = await axios.get("http://localhost:3000/api/session");
        return session.data.userId;
    }

    async function enterRoom(){
        const url = new URLSearchParams(window.location.search);
        const room = url.get('id');
        const username = await getSessionUsername();
        user.username = username;
        addWelcomeMessage({}, true);
        socket.emit('userConnected', {username, room});
    }

    async function addMessage({user, message}){
        const date = new Date();
        const userid = await getSessionUserId();
        const url = new URLSearchParams(window.location.search);
        const room = url.get('id');
        const sd = date.getHours().toString() + ":" + date.getMinutes().toString();
        console.log({content: message, userId: userid, username: user.username, roomCode: room, createdAt: sd});
        axios.post("http://localhost:3000/api/message", {content: message, userId: userid, username: user.username, roomCode: room, createdAt: sd});
        document.getElementById("feed").innerHTML += `<li>${user.username} - ${date.getHours()}:${date.getMinutes()} : ${message}</li>`;
    };

    function addWelcomeMessage(user, you){
        const message = you ?
            'You have joined the conversation' :
            `${user.username} has joined the conversation`;
        document.getElementById("feed").innerHTML += `<li style="color: green">${message}</li>`;
    }

    function sendMessages(){
        const url = new URLSearchParams(window.location.search);
        const room = url.get('id');
        const field = document.getElementById("messages");
        if(!field.value){
            field.placeholder = "ERROR";
        } else{
            const message = field.value;
            addMessage({user, message});
            socket.emit('sendMessage', {user, message, room});
            field.value = '';
        }
    }

    function readMessages(){
        const url = new URLSearchParams(window.location.search);
        const room = url.get('id');
        axios.get(`http://localhost:3000/api/messages/${room}`).then(function(response){
            const res = response.data;
            for(let i = 0; i < response.data.length; i++){
                document.getElementById("feed").innerHTML += `<li>${res[i].username} - ${res[i].createdAt} : ${res[i].content}</li>`
            }
        });
    }

    function onLoad(){
        readMessages();
        enterRoom();
    }
</script>