<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>24Room</title>
    </head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <body onload="onLoad()">
        <h1>24Room</h1>
        <h2 id="welcoming"></h2>
        <button onclick="signOut()">Sign Out</button>
        <button onclick="deleteAllMessages()">Delete All Messages</button>
        <h3>Create Room</h3>
        <input type="text" id="name" placeholder="Roome Name"/>
        <button onclick="createRoom()">Create Room</button>
        <button onclick="deleteAllRooms()">Delete All Rooms</button>
        <h3>Rooms Available</h3>
        <p>!!! Click To Join !!!</p>
        <ul id="feed"></ul>
        <h3>Rooms Viewed</h3>
        <p>!!! Click To Join !!!</p>
        <ul id="viewed"></ul>
    </body>
</html>
<script>
    async function getSessionUserId(){
        const session = await axios.get("http://localhost:3000/api/session");
        return session.data.userId;
    }
    function createRoom(){
        const name = document.getElementById("name").value;
        const code = roomId(5);
        axios.post("http://localhost:3000/api/room", {name: name, code: code});
    }
    async function roomsViewed(){
        const userId = await getSessionUserId();
        axios.get(`http://localhost:3000/api/roomsViewed/${userId}`).then(function(response){
            const res = response.data;
            const roomCodes = [], roomNames = [];
            for(let i = 0; i < res.length; i++){
                roomCodes.push(res[i].roomCode);
                roomNames.push(res[i].roomName);
            }
            const codes = roomCodes.filter((item, index) => roomCodes.indexOf(item) === index);
            const names = roomNames.filter((item, index) => roomNames.indexOf(item) === index);;
            for(let i = 0; i < codes.length; i++){
                document.getElementById("viewed").innerHTML += `<li onclick="joinRoom('${codes[i]}', '${names[i]}')"> <b>Name</b> : ${names[i]} <b>Code</b> : ${codes[i]}</li>`;
            }
        });
    }
    async function readAllRooms(){
        axios.get("http://localhost:3000/api/rooms").then(function(response){
            const res = response.data;
            for(let i = 0; i < response.data.length; i++){
                const date = new Date();
                const createdAt = res[i].createdAt.split(":");
                const minute = createdAt[1] - 1, hour = parseInt(createdAt[0].slice(-2));
                if(minute !== date.getMinutes() && hour !== date.getHours()){
                    document.getElementById("feed").innerHTML += `<li onclick="joinRoom('${res[i].code}', '${res[i].name}')"> <b>Name</b> : ${res[i].name} <b>Code</b> : ${res[i].code}</li>`;
                } else{
                    axios.delete(`http://localhost:3000/api/deleteRoom/${res[i].code}`);
                }
            }
        });
    }
    function deleteAllRooms(){
        axios.delete("http://localhost:3000/api/deleteAllRooms");
    }
    function joinRoom(code, name){
        window.location.href = "http://localhost:3000/room?id="+code+"&name="+name;
    }
    async function signOut(){
        await axios.delete("http://localhost:3000/api/logout");
        window.location.href = "http://localhost:3000/home";
    }
    function getSession(){
        axios.get("http://localhost:3000/api/session").then(function (response) {
            const username = response.data.username;
            document.getElementById("welcoming").innerHTML += `Welcome ${username} !`;
        });
    }
    function deleteAllMessages(){
        axios.delete("http://localhost:3000/api/deleteAllMessages");
    }
    function onLoad(){
        roomsViewed();
        getSession();
        readAllRooms();
    }
    function roomId(length){
        let result = '';
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for(let i = 0; i < length; i++){
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }
</script>